# Dependencies
node_modules/

# Fichiers volumineux (données) uniquement
*.csv
*.tsv
*_raw_*.json
*_complete_*.json
*_google_*.json
*_osm_*.csv
*_osm_*.tsv
conakry_*
batch_*.sql
INSERT_*.sql
backup_*.sql
dump_*.sql